<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.name}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/log_%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <logger name="com.jaishna.soapwrapper" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="SAVE-TO-FILE" />
    </root>
    <logger name="org.springframework.web" level="DEBUG">
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>

    <logger name="org.springframework.ws.client">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>

    <logger name="org.springframework.ws.client.MessageTracing.sent">
        <level value="TRACE"/>
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>

    <logger name="org.springframework.ws.client.MessageTracing.received">
        <level value="TRACE"/>
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>

    <logger name="org.springframework.ws.server.MessageTracing">
        <level value="INFO"/>
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>

</configuration>